[submodule "shell/nvim"]
	path = shell/nvim
	url = git@github.com:Harmos274/nvim.git
[submodule "shell/kitty"]
	path = shell/kitty
	url = git@github.com:Harmos274/kitty-config.git
[submodule "hosts/common/dewm/sway"]
	path = hosts/common/dewm/sway
	url = git@github.com:Harmos274/sway-config.git
